button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}

.room-container {
  display: flex;
}

.room {
  margin: 30px;
  width: 300px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
  flex-direction: column;
}

.room-name {
  margin-top: 80px;
}

.roomBtn {
  margin: 50px auto;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

button:hover {
  transform: translate(2px, 2px)
}

.game-page {
  position: relative;
}

.players-container {
  margin: 25px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.player-container {
  margin: 20px 0;
  width: 100%;
}

.indicator {
  border: 1px solid black;
  width: 100%;
  height: 20px;
}

.game-container {
  position: absolute;
  top: 50px;
  left: 300px;
  width: 500px;
  height: 500px;
  background-color: white;
  border: 2px solid black;
}

.game-container button {
  padding: 25px;
  font-size: 32px;
  font-weight: 800;
  height: auto;
}

.disable {
  display: none;
}